<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="model" default="$(find mobilebot)/urdf/mobilebot.urdf.xacro"/>
    <!-- <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/> -->
    <arg name="set_base_frame" default="base_footprint"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
  
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="mobilebot_slam_gmapping" output="screen">
      <param name="base_frame" value="$(arg set_base_frame)"/>
      <param name="odom_frame" value="$(arg set_odom_frame)"/>
      <param name="map_frame"  value="$(arg set_map_frame)"/>
      <remap from="scan" to="laser_scan"/>
      
      
      <rosparam command="load" file="$(find mobilebot_nav)/config/gmapping_params.yaml" />
    </node>

</launch>